:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border:none;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
header{
    position:fixed;
    top:0; left: 0; right:0;
    background: #fff;
    display: flex;
    padding: 1rem 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);

}
header .logo{
    color:black;
    font-size: 2.5rem;
    font-weight: bolder;

}
header .logo  i{
    color: green;

}
header .navbar a{

    font-size: 1.7rem;
    border-radius: .5rem;
    color:var(--light-color);
    padding: .5rem 1.5rem;
}
header .navbar a:hover,
header .navbar a.active{
    color: #fff;
    background-color: var(--green);
}
header .icons i,
header .icons a{
cursor: pointer;
margin-left: .5rem;
line-height: 4.5rem;
font-size: 2.5rem;
border-radius: 50%;
background-color: #eee;
height: 4.5rem;
text-align: center;
color: var(--black);
padding:0 10px;

}
header .icons i:hover,
header .icons a:hover{
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}
header .icons #menu-bar{
    display: none;
}
#search-form{   
    position:fixed;
    top:-110%;left: 0;right: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.671);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    
}
#search-form.active{
    top:0;
}
/* p:nth-child(2)  using nth child*/
#search-box{
    width: 50rem;
    border-bottom: 0.1rem solid #fff;
    padding:1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
     background: none;   
}
#search-form.active{
    top:0;

}
#search-form #search-box::placeholder{
    color:#eee;

}
#search-form #search-box::placeholder::-webkit-search-cancel-button{
    -webkit-appearance:none;
}
#search-form label{
    color: blanchedalmond;
    cursor: pointer;
    font-size: 3rem;
}
#search-form label:hover{
    color: var(--green);
}
#search-form #close{

    position: absolute;
    color: floralwhite;
    cursor: pointer;
    top: 2rem;right: 3rem;
    font-size: 3rem;
}
section{
    padding: 2rem 3%;
}
.home .home-slider .slider{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 9rem;
    
}
.home .home-slider .slider .content{
    flex: 1 1 40rem;
}
img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
img.cart{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.home .home-slider .slider .content .img{
    background-color: yellow;
   
}
.home .home-slider .slider .content span{

    color: var(--green);
    font-size: 2.5rem;
} 
.home .home-slider .slider .content h3{

    color: var(--black);
    font-size: 5rem;
}
.home .home-slider .slider .content p{

    color: var(--light-color);
    font-size: 2rem;
    padding: .5rem 0;
    line-height: 1.5;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    background-color: var(--black);
    cursor: pointer;
    padding: .9rem;
    width: 11rem;
    border-radius: .5rem;
}
.btn:hover{
    background: var(--green);
}
.sub-heading, .heading{
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding: 1rem;
}
.section .dishes{
    background: rgb(15, 14, 14);
}
 .heading{
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: capitalize;

} 
.dishes .box-container{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
     gap: 1.5rem; */
     display: flex;
     flex-direction: row;

     align-self: center;
     justify-content: center;
     flex-wrap: wrap;
     gap: 1.5rem;
}
.dishes .box-container .box{
    padding: 2.5rem;
    flex: 1 1 30rem;
    background: rgb(250, 248, 248);
    border-radius: .5rem;
    border: .2rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    text-align: center;
    overflow: hidden;

}
.dishes .box-container .fa-heart,
.dishes .box-container .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--black);
    overflow: hdden;
}
.dishes .box-container .fa-heart:hover,
.dishes .box-container .fa-eye:hover{
    background: #27ae60;
    color: #fff;
}

.dishes .box-container .fa-heart{
    right: -15rem;
}
.dishes .box-container .fa-eye{
    left: -15rem;
}
.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}
.dishes .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}
.dishes .box-container .box .stars{

   padding:1rem 0; 

}
.dishes .box-container .box .stars i{

   font-size: 1.7rem;
   color: var(--green);
 
 }
 .dishes .box-container .box .stars span{

    font-size: 1rem;
    color:rgb(7, 184, 7);
    font-weight: bolder;
    font-size: 2.5rem;
    margin-right: 1rem;
  
  }
 
 .about .row{
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
     align-items: center;
     
 }
 .about .row .images{
     flex: 1 1 45rem;
     padding: 0 2rem;
 }
 .about .row .images.img{
    width: 100%;
    
 }
 .about .row .content{
    flex: 1 1 45rem;
    padding-left: 5rem;
    /* background: red; */
    justify-content: center;
 }
 .about .row .content h3{
     color: var(--black);
     font-size: 4rem;
     padding: .5rem;

 }
 .about .row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem .5rem;
    line-height: 2;

}
.about .row .content .icon-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: .5rem;

}
.about .row .content .icon-container .icons{
    background: #eee;
    border-radius: 4rem solid rgba(0,0,0,.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}
.about .row .content .icon-container .icons i{

    font-size: 2.5rem;
    color: var(--green);
}
.about .row .content .icon-container .icons span{

    font-size: 1.5rem;
    color: var(--black);
}
.about .row .content .icon-container .icons span a{
margin-left: 2rem;
}

#check{
    height: 20px;
    width: 45px;
    background-color: blue;
    border-radius: 20px;
    box-shadow: inset 0 3px 10px rgba(0,0,0,.3);
    position: absolute;
    -webkit-appearance: none;
    right: 20px;
    top: 20px;
}
#check:checked{
    background-color: #27ae60;
}
#check::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color:green;
    border-radius: 100%;
    transition: all 0.1s ease;
}
 
#check:checked::before{
    background-color: #192a56;
    left: 25px;
}


































@media (max-width: 991px){
    html{
        font-size:55%;
    }

header{
    padding: 1rem 2.1rem;
 }
}

@media (max-width: 768px){
  
    html{
        font-size:55%;
    }
    header .icons #menu-bar{
        display: inline-block;

    }
    /* .slider{
        display: flex;
        flex-direction: column;
    } */
    header .navbar{
        position: absolute;
        top:100%;left: 0;right: 0;
        background: #fff;
        border-top:  .1rem solid rgba(0,0,0,.1);
        border-bottom:  .1rem solid rgba(0,0,0,.2);
        padding: 16px;
        /* display: block; */
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;

    }
    .home .home-slider .slider{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 8rem 2.5rem 0 2rem;
        
    }
    .slider{
   
    margin: 0;
   
    
}
  .content{
   margin: 0;
    
}
img{
    width: 330px;
    height: 330px;
    border-radius: 50%;
}
    
    
     header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%, 0% 100%);
    } 
    .about .row .content{
        flex: 1 1 45rem;
        padding-left: 0rem;
        /* background: red; */
        justify-content: center;
     }
     #check{
    
        right: 240px;
      
    }
} 